@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFCD00;
  --color-secondary: #1C355E;
}

body {
  font-family: 'Inter', 'Montserrat', sans-serif;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}